In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import nltk
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)

%matplotlib inline

In [4]:
#Pull in the data

train = pd.read_csv('../Resources/train.csv', header=None, encoding="ISO-8859-1", names=["target", "id", "date", "no_query", "user", "tweet"])
train.head()
#test data is coming from API?

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,target,id,date,no_query,user,tweet
target,id,date,user,tweet,tidy_tweet,stemmed_tweet
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Awww that bummer shoulda David Carr Third,awww that bummer shoulda david carr third
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,upset that update Facebook texting might resul...,upset that updat facebook text might result sc...
0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,dived many times ball Managed save rest bounds,dive mani time ball manag save rest bound
0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,whole body feels itchy like fire,whole bodi feel itchi like fire

In [5]:
#Remove no_query column
train = train.drop(columns=['no_query'])

In [6]:
#Remove links

train['tidy_tweet'] = train['tweet'].str.replace('http\S+|www.\S+', '', case=False)
train.head()

,target,id,date,user,tweet,tidy_tweet
target,id,date,user,tidy_tweet,stemmed_tweet,stemmed_tweet
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,Awww that bummer shoulda David Carr Third,awww that bummer shoulda david carr third,a bummer shoulda david carr third
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,upset that update Facebook texting might resul...,upset that updat facebook text might result sc...,upset that updat facebook text might result sc...
0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,dived many times ball Managed save rest bounds,dive mani time ball manag save rest bound,dive mani time ball manag save rest bound
0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,whole body feels itchy like fire,whole bodi feel itchi like fire,whole bodi feel itchi like fire

In [9]:
#Remove handles

def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt 

# train['tidy_tweet'] = np.vectorize(remove_pattern)(train['tidy_tweet'], "@[\w]*")
train['tidy_tweet'] = np.vectorize(remove_pattern)(train['tidy_tweet'], "@[\w]*")

TypeError: expected string or bytes-like object

In [ ]:
#Remove special characters, number, and punctuation

train['tidy_tweet'] = train['tidy_tweet'].str.replace("[^a-zA-Z#]", " " )

In [ ]:
#Remove short words

train['tidy_tweet'] = train['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>2]))
train.head()

In [ ]:
train.shape

In [ ]:
train.to_csv('train_3.csv',index=False)